/*******************************************************************/
/****************************** BODY *******************************/
/*******************************************************************/
body {
  font-family: Arial, sans-serif;
  background-color: #9e7967; /* Fond de page en beige olive */
  margin: 0;
  padding: 0;
}

/*******************************************************************/
/****************************** ANNOUNCEMENT BAR *******************/
/*******************************************************************/
.announcement-bar {
  background-color: #59372b; /* Couleur marron foncé */
  color: white;
  text-align: center;
  padding: 0; /* Retirer le padding vertical pour avoir une hauteur de 30px */
  height: 30px; /* Fixer la hauteur à 30px */
  font-size: 0.9rem; /* Ajuster la taille de la police pour l'adapter à la hauteur */
  font-weight: bold;
  line-height: 30px; /* Centrer verticalement le texte */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre discrète sous la barre */
}

.announcement-bar p {
  margin: 0;
  line-height: 30px; /* Ajuster l'espacement pour centrer le texte verticalement */
}

/*******************************************************************/
/****************************** HEADER *****************************/
/*******************************************************************/
header {
  background-color: #eeeeee; /* Gris clair pour le fond */
  color: #3b2a45; /* Texte foncé pour le contraste */
  padding: 0 20px; /* Enlever le padding vertical pour contrôler la hauteur */
  height: 3.3125rem; /* Fixer la hauteur du header */
  text-align: center;
  position: relative;
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre subtile sous le header */
  border-bottom: 3px solid #59372b; /* Bordure en bas du header en marron foncé */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px; /* Ajouter un espace de 30px au-dessus du header pour le déplacer sous l'announcement bar */
}

/* Conteneur du logo */
.logo-container {
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  margin-top: 20px; /* Ajouter un peu d'espace au-dessus */
  padding: 10px;
}

/* Image du logo */
.portfolio-logo {
  max-width: 500px; /* Limiter la taille du logo à une largeur maximale */
  height: auto; /* Garder la proportion du logo */
  display: block; /* Retirer les espaces autour de l'image */
}

/*******************************************************************/
/****************************** FOOTER *****************************/
/*******************************************************************/
footer {
  background-color: #cca98d; /* Beige clair pour le footer */
  color: white; /* Texte blanc pour ressortir */
  text-align: center;
  padding: 10px;
  position: relative;
  z-index: 2;
}

/*******************************************************************/
/****************************** WRAPPER ****************************/
/*******************************************************************/
.content-wrapper {
  width: 100%;
  max-width: calc(100% - 400px); /* Réduire la largeur de 10px de chaque côté */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(
    247,
    231,
    206,
    0.9
  ); /* Fond en beige clair très doux */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  min-height: calc(
    100vh - 160px
  ); /* Hauteur totale moins la hauteur du header et footer */
}

/*******************************************************************/
/****************************** PROJECTS ***************************/
/*******************************************************************/
#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}

.project-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-card {
  width: 264.25px;
  height: 264.25px;
  background-color: #ffffff; /* Blanc pour les cartes de projet */
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  perspective: 1000px;
}

.project-card:hover {
  transform: translateY(-10px) rotateY(15deg) rotateX(10deg);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.project-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3b2a45; /* Texte foncé pour les titres */
  margin-bottom: 10px;
}

.project-card p {
  font-size: 1rem;
  color: #555;
}

#threeD {
  background-color: #f7e7ce; /* Lilas pâle pour le projet 3D */
}

#game {
  background-color: #cca98d; /* Rose pâle pour le projet jeux vidéo */
}

#drawing {
  background-color: #9e7967; /* Bleu pâle pour le dessin */
}

#apps {
  background-color: #59372b; /* Vert pâle pour les applications */
}
