/*******************************************************************/
/****************************** BODY *******************************/
/*******************************************************************/
body {
  font-family: Arial, sans-serif;
  background-color: #9e7967; /* Fond de page en beige olive */
  margin: 0;
  padding: 0;
}

/*******************************************************************/
/****************************** HEADER *****************************/
/*******************************************************************/
header {
  background-color: #eeeeee; /* Gris clair pour le fond */
  color: #3b2a45; /* Texte foncé pour le contraste */
  padding: 10px 20px; /* Réduire la hauteur du header */
  text-align: center;
  position: relative;
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre subtile sous le header */
  border-bottom: 3px solid #59372b; /* Bordure en bas du header en marron foncé */
}

/*******************************************************************/
/****************************** FOOTER *****************************/
/*******************************************************************/
footer {
  background-color: #cca98d; /* Beige clair pour le footer */
  color: white; /* Texte blanc pour ressortir */
  text-align: center;
  padding: 10px;
  position: relative;
  z-index: 2;
}

/*******************************************************************/
/****************************** WRAPPER ****************************/
/*******************************************************************/
.content-wrapper {
  width: 100%;
  max-width: calc(100% - 400px); /* Réduire la largeur de 10px de chaque côté */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(
    247,
    231,
    206,
    0.9
  ); /* Fond en beige clair très doux */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  min-height: calc(
    100vh - 160px
  ); /* Hauteur totale moins la hauteur du header et footer */
}

/*******************************************************************/
/****************************** PROJECTS ***************************/
/*******************************************************************/
#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}

.project-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-card {
  width: 200px;
  height: 200px;
  background-color: #ffffff; /* Blanc pour les cartes de projet */
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  perspective: 1000px;
}

.project-card:hover {
  transform: translateY(-10px) rotateY(15deg) rotateX(10deg);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.project-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3b2a45; /* Texte foncé pour les titres */
  margin-bottom: 10px;
}

.project-card p {
  font-size: 1rem;
  color: #555;
}

#3d {
  background-color: #d1b3ff; /* Lilas pâle pour le projet 3D */
}

#game {
  background-color: #ffb3b3; /* Rose pâle pour le projet jeux vidéo */
}

#drawing {
  background-color: #b3e0ff; /* Bleu pâle pour le dessin */
}

#apps {
  background-color: #c2f0c2; /* Vert pâle pour les applications */
}
